" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

set showmode

set clipboard=unnamedplus
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

Plug 'easymotion/vim-easymotion'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debuv
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Set leader key
let mapleader = ","

" Search and navigation
nnoremap <leader>tg :action FindInPath<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fr :action RecentFiles<CR>

" Code actions
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>rn :action RenameElement<CR>

" Git
nnoremap <leader>gb :action Git.Branches<CR>
nnoremap <leader>gc :action CheckinProject<CR>

" Debug
nnoremap <leader>d :action Debug<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>

" Window management
nnoremap <leader>wh :action HideAllWindows<CR>
nnoremap <leader>wt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>wf :action ActivateFindToolWindow<CR>

" tabs management
nnoremap <leader>tc :action CloseContent<CR>
nnoremap <leader>ta :action CloseAllEditorsButActive<CR>

" Split management
nnoremap <leader>sh :action SplitHorizontally<CR>
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>su :action Unsplit<CR>

" Jump to definition/implementation
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>gt :action GotoTypeDeclaration<CR>

" Find usages - your bread and butter
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>fh :action CallHierarchy<CR>
nnoremap <leader>fi :action ShowUsages<CR>

nnoremap <leader>jd :action QuickJavaDoc<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>

" Create new file dialog
nnoremap <leader>nf :action NewFile<CR>

" Create new class (Java/Kotlin)
nnoremap <leader>nc :action NewClass<CR>
nnoremap <leader>pp :action SelectInProjectView<CR>
nnoremap <leader>ps :action FileStructurePopup<CR>

" Run configurations
nnoremap <leader>rc :action ChooseRunConfiguration<CR>
nnoremap <leader>rf :action RunClass<CR>
