configuration {
    display-run: "  ";
    display-drun: "  ";
    display-window: "  ";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font Medium 12";
    modi: [drun, window, ssh];
    show-icons: true;
    terminal: "kitty";
    matching: "fuzzy";
    sorting: "fzf";
}

@theme "theme"
